/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    height:1000px;
    scroll-behavior: smooth;
/* scroll-behavior: hành động cuộn */
}

/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết
*/

/* 
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...)
*/

/* Common */
.clear{
    clear: both;
 /*giải quyết vấn đề float  */
}

.text-white{
    color: #fff !important;
} 

.text-center{
    text-align: center !important; 
}

.pull-right{
    float: right !important;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    -webkit-appearance: none;
}

.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
/* không cần thêm div clear bên html nữa */
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-hard{
    width: 50%;
}

.col-third{
    width: calc(100%/3);
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

/* Main */
#main {
    /* overflow: hidden; */
}

/*1. HEADER SECTION */
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav>li{
    display: inline-block;
}

#nav li{
/* inline: trên 1 hàng, block: giũ lại kích thước */
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px ;
    padding: 0 24px ;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav>li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
/* box-shadow: đổ bóng */
}

#nav .subnav a{
    color: #000 ;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
/*
 cursor thay đổi con chuột
 pointer bàn tay
*/
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/*2. SLIDER SECTION */
#slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url('/project/assets/css/img/slider1.jpg') top center / cover no-repeat;
/* top center: thuộc background-position--cover thuộc background-size----no-repeat thuộc background-repeat */
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
/*   cách 2
    left: 50%;
    transform: translateX(-50%); */
/*  cách 2
    right: 0;
    left: 0; */
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

/*3. CONTENT SECTION */
#content {

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
/* Khoảng cách giữa các chữ */
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
/* italic: chữ nghiên */
    opacity: 0.6;
/* opacity: độ trong suốt (0 đến 1 tức 0-100%) */
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
/* text-align: căn chỉnh văn bản,   justify: căn đều hai bên */
    line-height: 1.4;
/* line-heigh: khoảng cách giữa các dòng */
}

#content .member-list{
    margin-top: 32px;
    /* overflow: hidden; */
/* giải quyết vấn đề float */
}

/* #content .member-item{
     float: left; 
     width: 33.33333%; 
     width: calc(100%/3); 
    text-align: center;    
} */

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
/*  border-radius: 4px;
 boder-radius: bo góc  */
}

/* TOUR SECTION */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff; 
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
/* boder-radius: hình tròn */
    text-align: center; 
    line-height: 24px;
    margin-top: -3px;
/* Nhờ có float nên margin-top có thể âm/ có float được hiểu có display: block; nên có thể width height */
}

/* PLACES SECTION*/

.place-list{ 
    margin-top: 16px ;
}
/* .place-item{
    float: left; 
    width: calc(100%/3);
    padding: 0 8px;
} */
.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    /* font-weight: 600px; */
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

/* CONTACT SECTION */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}
/* i[class*="ti-"]: Nâng cao */

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* MAP section */
.map-section img{
    width: 100%;
}

/*4. FOOTER SECTION */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0,0,0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-open{
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.5s;
}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
/* cursor: thay đổi con chuot */
    opacity: 0.8;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
/* block: mỗi thằng nằm trên 1 dòng riêng biệt  */
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover{
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Tạo ra cái chuyển động liên tiếp, những hành ảnh tĩnh tạo thạnh hoạt họa. */
